/* Who are we section eke backgrond image ek dmme meken bn */
.wrw-section-bg{
    background-image: url("./BackgroundImages_jcj/pcnigg.png");
    background-attachment: fixed;
    background-position: center top;
    background-size: cover; /* optional: makes it cover the screen */
    background-repeat: no-repeat; /* optional: stops repeating */
}

.landing-bg-text{
    height: 300px;
}

/*This is the main background image of the landing page*/
.section-1-landingpage{
    background-image: url("./BackgroundImages_jcj/welcomeBG_jcj.png");
    background-attachment: scroll;
    background-position: center 0px;
    background-size: cover; /* optional: makes it cover the screen */
    background-repeat: no-repeat; /* optional: stops repeating */
}

.background-gradient-jcj{
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 97%) 0%, rgba(222, 222, 222, 0) 99%);
}

.student-cards-section-jcj {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: black; /* Light background for contrast */
}